<html>
<head>
    <title>Homie List</title>
</head>
<body>
    <h1>You added a homie! Respek.</h1>
    <p>{{newcontact.getName}} </p>
    <p>{{newcontact.getPhone}} </p>
    <p>{{newcontact.getHome}} </p>


    <p><a href='/'>View your list of homies.</a></p>
</body>
</html>
