<html>
<head>
    <title>Homie List</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
    <h1>You added a homie! Respek.</h1>
    <p>{{newcontact.getName}} </p>
    <p>{{newcontact.getPhone}} </p>
    <p>{{newcontact.getHome}} </p>


    <p><a href='/'>View your list of homies.</a></p>
</body>
</html>
