<html>
<head>
    <title>You deleted your homies! Thug life.</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
    <h1>You deleted your homies! Better get some new ones, eh?</h1>
    <p><a href='/'>Home</a></p>
</body>
</html>
